@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap');

:root{
    /*Colors*/
    --footer-color: hsl(243, 87%, 12%);
    --last-section-color: hsl(238, 22%, 44%);
    --button-color: hsl(224, 93%, 58%);
    --link-color: hsl(170, 45%, 43%);
    --section-bg-color: hsl(240, 75%, 98%);
    --section-text-color: hsl(0, 0%, 75%);

    /*Fonts & Typography*/
    --title-font: 'Raleway', sans-serif;
    --text-font: 'Open Sans', sans-serif;

    --regular-weight: 400;
    --bold-weight: 700;
}

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--text-font);
}

.home,
.productive{
    height: 100vh;
}


.container{
    width: 90%;
    margin: 0 auto;
}

.header{
    margin: 2.5rem 0 2.5rem;
}

.nav-header{
    display: flex;
    justify-content: space-between;
}

.nav-header img{
    width: 12%;
}

.nav-list{
    display: flex;
    column-gap: 3rem;
    list-style: none;
    align-items: center;
}

.nav-link{
    text-decoration: none;
    color: black;
    font-size: 0.913rem;
}

.home-container{
    width: 100%;
    display: flex;
    align-items: center;
}

.home-title{
    font-family: var(--title-font);
    font-size: 2.25rem;
    margin-bottom: 1rem;
}

.home-information{
    font-size: 1.125rem;
    margin-bottom: 1rem;
}

.illustration img{
    width: 100%;
}

.email-input{
    border: 1px solid var(--section-text-color);
    border-radius: 0.25rem;
    line-height: 2.2;
    padding-left: 1rem;
    padding-right: 8rem;
}

.email-submit{
    background-color: var(--button-color);
    border: none;
    border-radius: 0.25rem;
    line-height: 2.2;
    padding: 0 2rem;
    color: white;
    cursor: pointer;
}

.call{
    background-color: var(--last-section-color);
}
