@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap');

:root{
    /*Colors*/
    --footer-color: hsl(243, 87%, 12%);
    --last-section-color: hsl(238, 22%, 44%);
    --button-color: hsl(224, 93%, 58%);
    --link-color: hsl(170, 45%, 43%);
    --section-bg-color: hsl(240, 75%, 98%);
    --section-text-color: hsl(0, 0%, 75%);

    /*Fonts & Typography*/
    --title-font: 'Raleway', sans-serif;
    --text-font: 'Open Sans', sans-serif;

    --regular-weight: 400;
    --bold-weight: 700;
}

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--text-font);
}

.home,
.productive{
    height: 100vh;
}


.container{
    width: 90%;
    margin: 0 auto;
}

.header{
    margin: 2.5rem 0 2.5rem;
}

.nav-header{
    display: flex;
    justify-content: space-between;
}

.nav-header img{
    width: 12%;
}

.nav-list{
    display: flex;
    column-gap: 3rem;
    list-style: none;
    align-items: center;
}

.nav-link{
    text-decoration: none;
    color: black;
    font-size: 0.913rem;
}

.home-container{
    width: 100%;
    display: flex;
    align-items: center;
}

.home-title{
    font-family: var(--title-font);
    font-size: 2.25rem;
    margin-bottom: 1rem;
}

.home-information{
    font-size: 1.125rem;
    margin-bottom: 1rem;
}

.illustration img{
    width: 100%;
}

.email-input{
    border: 1px solid var(--section-text-color);
    border-radius: 0.25rem;
    line-height: 2.2;
    padding-left: 1rem;
    padding-right: 8rem;
}

.email-submit{
    background-color: var(--button-color);
    border: none;
    border-radius: 0.25rem;
    line-height: 2.2;
    padding: 0 2rem;
    color: white;
    cursor: pointer;
}

.productive{
    position: relative;
    padding-top: 8rem;
    overflow: hidden;
}

.productive::before{
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 100vw;
    height: 100%;
    border-radius: 50%;
    background-color: var(--section-bg-color);
    transform-origin: top;
    transform: translateX(-50%) scale(2.5);
}

.productive-container{
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
}

.productive-title{
    font-family: var(--title-font);
    font-size: 2.25rem;
    margin-bottom: 2rem;
}

.productive-info1{
    margin-bottom: 1rem;
    color: #4E4A63;
}

.productive-info2{
    margin-bottom: 1rem;
    color: #4E4A63;
}

.productive-link{
    color: var(--link-color);
    cursor: pointer;
    display: flex;
    align-items: center;
}

.productive-illustration{
    width: 90%;
}

.productive-illustration img{
    max-width: 100%;
}

.productive-data{
    height: max-content;
}

.productive-testimonial{
    margin-top: 1.75rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
    width: 50%;
    background-color: white;
    padding: 1.5rem;
}

.testimonial-info{
    margin-bottom: 0.75rem;
}

.testimonial-author{
    display: flex;
    align-items: center;
}

.author-name{
    font-size: 0.938rem;
}

.author-description{
    font-size: 0.813rem;
}

.testimonial-author img{
    width: 18%;
    border-radius: 8rem;
    margin-right: 0.5rem;
}

.call{
    background-color: var(--last-section-color);
    padding: 4rem;
    color: white;
}

.call-container{
    display: flex;
    justify-content: space-between;
}

.call-title{
    font-family: var(--title-font);
    font-size: 2rem;
    margin-bottom: 1rem;
}

.call-info{
    font-size: 0.938rem;
}

.call-action{
    display: flex;
    flex-direction: column;
    row-gap: 0.75rem;
}

.call-action-email-input{
    box-shadow: 5px 5px 1px rgba(0, 0, 0, 0.1);
    line-height: 2.6;
    border: none;
    padding-right: 14rem;
    padding-left: 1rem;
    border-radius: 0.25rem;
}

.call-btn{
    box-shadow: 5px 5px 1px rgba(0, 0, 0, 0.1);
    padding: 0.25rem;
    width: 40%;
    border: none;
    background-color: var(--button-color);
    color: white;
    cursor: pointer;
    font-size: 0.813rem;
    line-height: 2.2;
}

.call-data{
    width: 50%;
    font-size: 0.813rem;
}

